.header {
  text-align: center;

  @media #{$medium-up} {
    text-align: left;
    height: 136px;
  }

  .row, .column {
    height: 100%;
  }

  .button {
    padding: 5px 10px;
    float: right;

    @media #{$medium-up} {
      margin-top: -3px; // Aligns the buttons with the menu text

      &:last-of-type {
        margin-left: 25px;
      }
    }
  }
}

.header-logo {
  width: 100px;
  margin: 10px auto 10px auto;
  display: block;

  @media #{$medium-up} {
    width: 135px;
    position: absolute;
    bottom: 28px;
    left: ($column-gutter / 2);
    margin: 0;
  }

  img {
    width: 100%;
  }
}

// Aligns the text with the logo
.main-nav,
.header .button {
  @media #{$medium-up} {
    position: relative;
    top: 90px;
  }
}

.main-nav {
  @include clearfix;
  list-style: none;
  float: right;
  font-size: rem-calc(14);
  
  > li {
    display: block;
    float: left;
    padding-left: 20px;
    position: relative;

    > a {
      color: black;
      font-weight: bold;

      &::after {
        @include css-triangle(4px, black, top);
        float: right;
        position: relative;
        top: 9px;
        margin-left: 5px;
      }
    }

    &:hover {
      .main-nav-sub {
        display: block;
      }
    } 
  }
}

.main-nav-sub {
  list-style: none;
  position: absolute;
  right: 0;
  z-index: 999;
  display: none;
  white-space: nowrap;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 5px 10px rgba(black, 0.25);

  li a {
    display: block;
    padding: 5px 10px;
    color: black;
    font-size: rem-calc(14);

    &:hover {
      background: #eee;
      color: $primary-color;
    }
  }
}

.secondary-nav {
  top: 35px;
  right: 35px;
  position: absolute;
  list-style: none;
  font-size: rem-calc(14);
  font-weight: bold;
  
  li {
    display: inline-block;
    padding-left: 35px;
  }

  a {
    color: #b3b3b3;
  }
}

.left-off-canvas-toggle {
  float: left;
  font-weight: bold;
  margin-top: 3px;

  &::before {
    content: '';
    width: 14px;
    height: 2px;
    background: black;
    box-shadow: 0 5px 0 black, 0 10px 0 black;
    display: inline-block;
    margin-bottom: 9px;
    margin-right: 3px;
  }
}

