.media {
  @include grid-row(nest);
  padding-bottom: 4rem;

  p {
    margin-bottom: 0.5rem;
  }
}

.news-date {
  font-size: 1rem;
  font-weight: 700;
}

.media-image {
  @include grid-column;
  padding-bottom: 1rem;

  @media #{$medium-up} {
    width: grid-calc(4, 12);
  }
}

.media-text {
  @include grid-column;

  h4 {
    font-weight: 600;
    font-size: 2rem;
    margin: 0 0 0.5rem;
  }

  @media #{$medium-up} {
    width: grid-calc(8, 12);
  }
}
