body {
  counter-reset: section;
}

/* position list chunks side by side */
.number-list-wrapper {
  float: left;
}

.number-list {
  list-style: none;
  width: 100%;
  @media #{$large-up} { 
    width: 33rem;
    margin-left: 0;
  }
  li {
    margin-bottom: 2rem;
  }
  li::before {
    counter-increment: section;               
    content: counter(section) " ";
    width: 50px;
    height: 50px;
    color: #FFF;
    background-color: #232323;
    position: absolute;
    font-size: 1.85rem;
    text-align: center;
  }
  span {
    padding-left: 4rem;
    display: block;
  }
}