.left-off-canvas-menu {
  padding-top: 1rem;
  list-style: none;
  background-color: #333235;
  margin: 0;
  height: 100%;

  span {
    background: none;
  }

  .nav-section-divider {
    color: $white;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    display: block;
    padding: 0.83333rem 1rem 0.3rem;
    text-transform: uppercase;
  }

  .mobile-nav-list {
    margin: 0 0 1.8rem;
    list-style: none;
    
    li {

      a {
        color: $white;
        display: block;
        padding: 0.35rem 1rem;
        font-size: 0.85rem;
        transition: background 300ms ease;
        
        &:hover { 
          background: #262527; 
        }
      }
    }
  }

  .divider {
    border: none; 
  }
}

