.page-header {
  background: linear-gradient(36deg, #56b1cf, #8dd3e6);
  padding-bottom: 4rem;
  margin-bottom: 5rem;

  h1 {
    transform: rotate(-2deg);
    color: white;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
  }

  p {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin: 0;
    width: 75%;
    margin-left: 12.5%;
  }
}

.page-header-text {
  text-align: center;
  padding-right: 550px;
  float: left;
}

.page-header-image {
  width: 550px;
  position: absolute;
  top: 0;
  left: 55%;
  transform: skew(-2deg);
}

.page-header-nav {
  clear: both;
  text-align: center;
  margin-bottom: 0;
  padding-left: ($column-gutter / 2);
  padding-right: ($column-gutter / 2);
  margin-top: -1rem;
  margin-bottom: 2rem;

  li {
    display: inline-block;
  }

  a {
    padding: 0.9rem 1rem 0.75rem;
    font-size: 0.7rem;
    color: black;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      background: #eee;
      color: black;
    }
  }

  .is-active a {
    background: black;
    color: white;
  }
}