.segmented-control {
  @include clearfix;
  list-style-type: none;
  margin-left: 0;

  li {
    display: inline-block;
  }

  input {
    position: absolute;
    left: -9999px;
  }

  label {
    display: block;
    background: #eee;
    padding: 10px 16px;
    font-size: rem-calc(24);
    margin: 0 !important;
  }

  input:checked + label {
    background: #a2bc5c;
    color: white;
  }
}
