.sub-footer {
  background: $white;
  padding: 2rem;
  border-top: 1px solid #333; // remove when styling
}

.footer-inline-nav {
  @include inline-list;
  padding-top: 0.5rem;

  li {
    margin: 0 2rem 0 0;
  }

  a {
    color: #333;
  }
}