.sub-footer {
  background: darken($primary-color, 5%);
  padding: 2rem;

  input {
    margin: 0.9rem 0 0 0;
  }
}

.footer-social {
  li {
    margin: 0.85rem 0 0 0;
    display: inline-block;
  }

  img {
    width: 37px;
    height: 37px;
  }
}

.footer-inline-nav {
  @include inline-list;
  text-align: center;
  padding-top: 1.4rem;

  li {
    margin: 0 2rem 0 0;
  }

  a {
    color: lighten($primary-color, 50%);
    font-weight: 100;
  }
}