.sub-footer {
  background: darken(#262527, 5%);
  padding: 1rem;

  input {
    margin: 1rem 0 0 0;
  }

  @media #{$medium-up} {
    padding: 1rem;
  }
}

.footer-social {
  margin-left: 0;
   
  li {
    margin: 0.95rem 0 0 0;
    display: inline-block;
  }

  img {
    width: 37px;
    height: 37px;
  }
}

.footer-inline-nav {
  @include inline-list;
  text-align: center;
  padding-top: 1.4rem;

  li {
    margin: 0 2rem 0 0;
  }

  a {
    color: lighten( #333235, 50%);
    font-weight: 100;
  }
}