h1, h2 {
  font-family: 'Edo', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

@media #{$medium-only} {
  .page-sidebar {
    p {
      font-size: 0.75rem;
    }
  }
}
