<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to Foundation</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{assets}}css/app.css" />
  <script src="{{assets}}js/modernizr.js"></script>
</head>
<body>

  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

      <!-- Off Canvas Menu -->
      <aside class="left-off-canvas-menu">
        <!-- whatever you want goes here -->
        <span class="nav-section-divider">
          Education
        </span>
        <ul class="main-nav-sub">
          <li><a href="#">What Causes Homelessness?</a></li>
          <li><a href="#">Impact of Homelessness</a></li>
          <li><a href="#">Homelessness Rumors</a></li>
        </ul>

        <span class="nav-section-divider">
          What We Do
        </span>
        <ul class="main-nav-sub">
          <li><a href="#">Our Model</a></li>
          <li><a href="#">Community Impact</a></li>
          <li><a href="#">Success Stories</a></li>
        </ul>

        <span class="nav-section-divider">
          Get Involved
        </span>
        <ul class="main-nav-sub">
          <li><a href="#">San Jose</a></li>
          <li><a href="#">Palo Alto</a></li>
          <li><a href="#">Sunnyvale</a></li>
          <li><a href="#">San Rafael</a></li>
          <li><a href="#">Downtown Food Closet</a></li>
          <li><a href="#">San Francisco</a></li>
          <li><a href="#">Start Your Own</a></li>
        </ul>
        <span class="divider"></span>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
        </ul> 
      </aside>

      <header class="header">
        <div class="row"><div class="column">
          <a href="index.html" class="header-logo">
            <img src="assets/img/logo.jpg" alt="" class="">
          </a>

          <a class="left-off-canvas-toggle menu-icon show-for-small-only" href="#"><span></span> Menu</a>

          <a href="#" class="small secondary button">I Need Help</a>
          <a href="#" class="small button">Donate</a>

          <ul class="main-nav hide-for-small-only">
            <li>
              <a href="text1.html">About Homelessness</a>
              <ul class="main-nav-sub">
                <li><a href="text1.html">What Causes Homelessness?</a></li>
                <li><a href="text1.html">Impact of Homelessness</a></li>
                <li><a href="text1.html">Homelessness Rumors</a></li>
              </ul>
            </li>
            <li>
              <a href="text2.html">What We Do</a>
              <ul class="main-nav-sub">
                <li><a href="text2.html">Our Model</a></li>
                <li><a href="text2.html">Community Impact</a></li>
                <li><a href="text2.html">Success Stories</a></li>
              </ul>
            </li>
            <li>
              <a href="donate.html">Get Involved</a>
              <ul class="main-nav-sub">
                <li><a href="donate.html">Donate</a></li>
                <li><a href="donate.html">Volunteer</a></li>
                <li><a href="donate.html">For Employers</a></li>
                <li><a href="donate.html">For Property Managers</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Our Community</a>
              <ul class="main-nav-sub">
                <li><a href="community.html">San Jose</a></li>
                <li><a href="community.html">Palo Alto</a></li>
                <li><a href="community.html">Sunnyvale</a></li>
                <li><a href="community.html">San Rafael</a></li>
                <li><a href="community.html">Downtown Food Closet</a></li>
                <li><a href="community.html">San Francisco</a></li>
                <li><a href="community.html">Start Your Own</a></li>
              </ul>
              </li>
          </ul>

          <ul class="secondary-nav hide-for-small-only">
            <li><a href="about.html">About</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div></div>
      </header>

      {{>body}}

      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>

    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <!-- Footer inner -->
    <div class="row">
      <!-- Addresses -->
      <div class="footer-addresses large-4 columns">
        <h2 class="footer-heading">Headquarters</h2>
        <address class="footer-address">
          1671 The Alameda, Suite 306 <br>
          San Jose, CA 95126
        </address>

        <h2 class="footer-heading">North County Office</h2>
        <address class="footer-address">
          Kumli Resource Center <br>
          231 Grant Avenue <br>
          Palo Alto, CA 94306
        </address>
      </div>
      <!-- /Addresses -->

      <!-- Navigation -->
      <div class="large-8 columns">
        <div class="row">
          <div class="medium-6 columns">
            <h2 class="footer-heading"><a href="#">Education</a></h2>
            <ul class="footer-nav">
              <li><a href="#">What Causes Homelessness?</a></li>
              <li><a href="#">Impact of Homelessness</a></li>
              <li><a href="#">Homelessness Rumors</a></li>
            </ul>

            <h2 class="footer-heading"><a href="#">What We Do</a></h2>
            <ul class="footer-nav">
              <li><a href="#">Our Model</a></li>
              <li><a href="#">Community Impact</a></li>
              <li><a href="#">Success Stories</a></li>
            </ul>
          </div>
          <div class="medium-6 columns">
            <h2 class="footer-heading"><a href="#">Get Involved</a></h2>

            <h2 class="footer-heading"><a href="#">Communities</a></h2>
            <ul class="footer-nav">
              <li><a href="#">San Jose</a></li>
              <li><a href="#">Palo Alto</a></li>
              <li><a href="#">Sunnyvale</a></li>
              <li><a href="#">San Rafael</a></li>
              <li><a href="#">Downtown Food Closet</a></li>
              <li><a href="#">San Francisco</a></li>
              <li><a href="#">Start Your Own</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Navigation -->
    </div>
    <!-- /Footer inner -->
  </footer>
  <!-- /Footer -->

  <!-- Sub Footer with Newsletter Signup -->
  <footer class="sub-footer">

    <div class="row">
      <div class="medium-8 columns">

        <ul class="footer-inline-nav">
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press Kit</a></li>
          <li><a href="#">Board of Directors</a></li>
        </ul>

      </div>
      <div class="medium-4 columns">

        <form action="http://zurb.createsend.com/t/y/s/xlitlu/" method="post">
          <div class="row collapse">
            <div class="small-8 columns">
              <input id="fieldEmail" name="cm-xlitlu-xlitlu" type="text" placeholder="signup@example.com">
            </div>
            <div class="small-4 columns">
              <input type="submit" href="#" class="postfix button expand" value="Sign Up">
            </div>
          </div>
        </form>

      </div>
    </div>

  </footer>
  <!-- /Sub Footer with Newsletter Signup -->

  <script src="{{assets}}js/all.js"></script>
</body>
</html>