@font-face {
  font-family: 'Edo';
  src: url('../fonts/edo/edo-webfont.eot');
  src: url('../fonts/edo/edo-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/edo/edo-webfont.woff2') format('woff2'),
       url('../fonts/edo/edo-webfont.woff') format('woff'),
       url('../fonts/edo/edo-webfont.ttf') format('truetype'),
       url('../fonts/edo/edo-webfont.svg#edoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
